 @import url('https://fonts.googleapis.com/css?family=Lato');

.qr-code {
  max-width: 200px;
  margin: 10px;
  text-align: center;
  z-index: 5;
}
h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 40px;
}
.control-label {
  font-size: 17px;
}
.dark {
  display: none;
}
.light {
  display: block;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #414040;
    color: #e4e4e4;
  }
  #content {
    background: #414040;
    color: #e4e4e4;
  }
  .dark {
    display: block;
  }
  .light {
    display: none;
  }
}
