 @import url('https://fonts.googleapis.com/css?family=Lato');


.qr-code {
  max-width: 200px;
  margin: 10px;
  text-align: center;
}
h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 40px;
}
.control-label {
  font-size: 17px;
}